.color1 {
  color: #9d9c9c !important;
}
.color2 {
  color: #9f9579 !important;
}
.color2_opacity {
  color: rgba(159, 149, 121, 0.77);
}
.color3 {
  color: #bb9f5a !important;
}
.color3_opacity {
  color: rgba(187, 159, 90, 0.64);
}
.color4 {
  color: #f5e2a7 !important;
}
.color4_opacity {
  color: rgba(245, 226, 167, 0.67);
}
.bg1 {
  background: #9f9579 !important;
}
.bg2 {
  background: #bb9f5a !important;
}
.bg3 {
  background: #f5e2a7 !important;
}
.bg4 {
  background: #9d9c9c !important;
}
.disable_bnb {
  color: #fff !important;
  background: #ccc !important;
  cursor: not-allowed !important;
  // border-radius: 25px;
}
.btn_normal{
  color: #0E0D0D !important;
  background: linear-gradient(180deg, #F7E9B9 0%, #F0CE75 100%) !important;
}
.btn_black{
  color: #CED3D9 !important;
  background: linear-gradient(180deg, #6D6D6D 0%, #595858 100%) !important;
}
.display_flex {
  display: flex;
}
.margin_right0 {
  margin-right: 0 !important;
}
.margin0 {
  margin: 0 !important;
}
.color_fff {
  color: #fff !important;
}
.color_ced{
  color: #CED3D9 !important;
}
.color_000 {
  color: #000 !important;
}
img {
  object-fit: contain;
}
.clear_hover:hover {
  display: none !important;
}
.disply_none {
  display: none !important;
}
.eye {
  width: 50px;
  height: 100%;
  div {
    cursor: pointer;
    width: 30px;
    height: 100%;
    background-image: url($bg_url + "eye1.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    &.active {
      background-image: url($bg_url + "eye2.webp");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.has_question_icon {
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    filter: blur(0px);
    background: url($bg_url + "ques_new.webp") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: -20px;
    top: -5px;
  }
}
// 左右来回上下抖动 (input校验)
.ani_shake {
  // animation-name: shock;
  // animation-duration: .1s; //规定完成动画所花费的时间，以秒或毫秒计
  // animation-timing-function: linear; //规定动画的速度曲线。
  // animation-delay: 0s; // 规定在动画开始之前的延迟。
  // animation-iteration-count: 3; //规定动画应该播放的次数。
  // animation-direction: normal; //规定是否应该轮流反向播放动画。
  animation: shock 0.1s linear 0s 3 normal;
}
@keyframes shock {
  0% {
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 0px;
  }
  100% {
    margin-left: 5px;
    margin-right: 0px;
    margin-top: 5px;
  }
}
// 移动端导航栏显示隐藏
@keyframes showMen{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes DisMen{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}

.menDis{
  display: none !important;
  animation: DisMen 0.5s linear !important;
}
.menShow{
  display: flex !important;
  animation: showMen 0.5s linear !important;
}
.demo_font_color {
  background: linear-gradient(180deg, #f7e9b9 0%, #f0ce75 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loading_box_content{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.video_proup{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  .video_{
    max-width: 500px;
    width: auto;
    height: 90%;
    object-fit: cover;
  }
  .close_img{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 34px;
    cursor: pointer;
  }
}
// 左右来回抖动  (没有同意协议抖动)
.animation_move {
  animation: move 0.1s linear 0s 3 normal;
}
@keyframes move {
  0% {
    margin-left: 0px;
    margin-right: 15px;
  }
  100% {
    margin-left: 15px;
    margin-right: 0px;
  }
}
// 英文---粗体
@font-face {
  font-family: "SFCompactDisplay-Bold";
  src: url($font_url + "SF-Compact-Display-Bold.otf");
}
.en_Bold {
  font-family: "SFCompactDisplay-Bold" !important;
}

// 英文---常规体
@font-face {
  font-family: "SFCompactDisplay-Regular";
  src: url($font_url + "SF-Compact-Display-Regular.otf");
}
.en_Regular {
  font-family: "SFCompactDisplay-Regular" !important;
}

// 英文---特黑体
@font-face {
  font-family: "SFCompactDisplay-Heavy";
  src: url($font_url + "SF-Compact-Display-Heavy.otf");
}
.en_heavy {
  font-family: "SFCompactDisplay-Heavy" !important;
}

// 英文---中黑体
@font-face {
  font-family: "SFCompactDisplay-Medium";
  src: url($font_url + "SF-Compact-Display-Medium.otf");
}
.en_medium {
  font-family: "SFCompactDisplay-Medium" !important;
}

// 中文
@font-face {
  font-family: "PingFangTC-Semibold";
  src: url($font_url + "FZYouHFW.TTF");
}
.cn_lang {
  font-family: "PingFangTC-Semibold" !important;
}
.bottom_loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CED3D9;
}
@media screen and (min-width: 981px) {
  // 大标题字号
  .font45 {
    font-size: 45px;
  }
  .font35 {
    font-size: 35px;
  }
  // banner 标题 eg:token
  .font34 {
    font-size: 34px;
  }
  // banner 标题 eg:token
  .font32 {
    font-size: 32px;
  }
  .font30 {
    font-size: 30px;
  }
  // 主按钮字号
  .font28 {
    font-size: 28px;
  }
  .font26 {
    font-size: 26px;
  }
  .font24 {
    font-size: 24px;
  }
  .font22 {
    font-size: 22px;
  }
  .font20 {
    font-size: 20px;
  }
  .font18 {
    font-size: 18px;
  }
  // 正文字号
  .font16 {
    font-size: 16px;
  }
  .font14 {
    font-size: 14px;
  }
  .font13 {
    font-size: 13px;
  }
  .font12 {
    font-size: 12px;
  }
}
@media screen and (max-width: 980px) {
  .has_question_icon {
    &::after {
      content: "";
      width: 11px;
      height: 11px;
      right: -0.14rem;
      top: -0.05rem;
    }
  }
  .video_proup{
    z-index: 100;
    .video_{
      max-width: 3.5rem;
      width: auto;
      height: 80%;
      object-fit: cover;
    }
    .close_img{
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      width: 0.25rem;
      cursor: pointer;
    }
  }
  .loading_box_content{
    width: 100%;
    min-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile_font45 {
    font-size: 0.45rem;
  }
  .mobile_font34 {
    font-size: 0.34rem;
  }
  .mobile_font30 {
    font-size: 0.3rem;
  }
  .mobile_font28 {
    font-size: 0.28rem;
  }
  .mobile_font26 {
    font-size: 0.26rem;
  }
  .mobile_font24 {
    font-size: 0.24rem;
  }
  .mobile_font22 {
    font-size: 0.22rem;
  }
  .mobile_font20 {
    font-size: 0.2rem;
  }
  .mobile_font18 {
    font-size: 0.18rem;
  }
  // 正文字号
  .mobile_font16 {
    font-size: 0.16rem;
  }
  .mobile_font14 {
    font-size: 0.14rem;
  }
  .mobile_font12 {
    font-size: 0.12rem;
  }
}
