.display_flex {
  display: flex;
}
.margin_right0 {
  margin-right: 0 !important;
}
.margin0{
  margin: 0 !important;
}
.color_fff{
  color: #fff !important;
}
img{
  object-fit: contain;
}
.demo_font_color{
  background: linear-gradient(180deg, #F7E9B9 0%, #F0CE75 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// 字体样式
@font-face {
  font-family: "SFCompactDisplay-Bold";
  src: url("../assets/fonts/SF-Compact-Display-Bold.otf");
}
@font-face {
  font-family: "SFCompactDisplay-Regular";
  src: url("../assets/fonts/SF-Compact-Display-Regular.otf");
}
@font-face {
  font-family: "SFCompactDisplay-Heavy";
  src: url("../assets/fonts/SF-Compact-Display-Heavy.otf");
}


//英文粗体
.en_Bold {
  font-family: "SFCompactDisplay-Bold" !important;
}
//英文细体
.en_Regular {
  font-family: "SFCompactDisplay-Regular" !important;
}
// 英文特殊字体
.en_special {
  font-family: "SFCompactDisplay-Heavy" !important;
}
// 中文
// .cn_lang {
//   font-family: WenYue-GuDianMingChaoTi-JRFC !important;
// }

// 大标题字号
.font45 {
  font-size: 45px;
}
// banner 标题 eg:token
.font34 {
  font-size: 34px;
}
// 主按钮字号
.font28 {
  font-size: 28px;
}
.font26 {
  font-size: 26px;
}
.font22 {
  font-size: 22px;
}
.font20 {
  font-size: 20px;
}
.font18 {
  font-size: 18px;
}
// 正文字号
.font16 {
  font-size: 16px;
}
.font14 {
  font-size: 14px;
}
